/* Animation for the skills slider */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animateScroll {
  display: flex;
  animation: scroll 10s linear infinite;
}